.container {
    display: grid;
    grid-template-areas:
            'header header'
            'topic topic'
            'constructor ingredients';
    grid-column-gap: 20px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1150px;
}

.topic {
    grid-area: topic;
}

::-webkit-scrollbar {
    width: 8px;
    color: #61dafb;
}

::-webkit-scrollbar-track {
    background: #2F2F37;
}

::-webkit-scrollbar-thumb {
    background: #8585AD;
}
