.container {
    display: grid;
    grid-template-areas:
            'header'
            'content';
    margin-right: auto;
    margin-left: auto;
    max-width: 1150px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: content;
}

.content p {
    color: #8585AD;
}

.content a {
    color: #4C4CFF;
}

.content a:hover {
    color: #FCFCFC;
}

.topic {
    grid-area: topic;
}

::-webkit-scrollbar {
    width: 8px;
    color: #61dafb;
}

::-webkit-scrollbar-track {
    background: #2F2F37;
}

::-webkit-scrollbar-thumb {
    background: #8585AD;
}
