.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "JetBrains Mono", sans-serif;
    color: #8585AD;
    height: 88px;
    grid-area: header;
}

nav {
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.logo {
    flex-basis: 40%;
}