.modal {
    width: 720px;
    height: 718px;
    background-color: #1C1C21;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    z-index: 1000;
    border-radius: 30px;
}

.modalContainer{
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.close {
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.content {
    display: flex;
    justify-content: center;
}