body {
    margin: 0;
    font-family: 'JetBrains Mono', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
}

h2 {
    margin: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    display: flex;
    vertical-align: center;
}

ul a {
    text-decoration: none;
    color: #8585AD;
}

ul a:hover {
    color: whitesmoke;
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    src: url("./fonts/JetBrainsMono-Regular.woff2") format("woff");
}

.active{
    color: #FCFCFC !important;
}