.ingredients {
    height: 550px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
    grid-area: ingredients;
}

.category {
    display: grid;
    grid-template-areas:
            'cat cat';
}

.categoryTitle {
    grid-area: cat;
}

.ingredient {
    width: 272px;
    height: 208px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ingredient img {
    width: 240px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.ingredient p {
    text-align: center;
    margin: 10px;
}

.price {
    display: flex;
    justify-content: center;
}

.description {
    min-width: inherit;
}

.description p {
    text-align: center;
}

