.ingredientWrapper {
    width: 49%;
    display: flex;
    flex-direction: column;

}

.ingredients {
    height: 500px;
    /*border: 1px #61dafb solid;*/
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

.category {
    display: flex;
    flex-wrap: wrap;
}

.categoryTitle{
    flex-basis: 70%;
}

.ingredient {
    width: 272px;
    height: 208px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.ingredient img {
    width: 240px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.ingredient p {
    text-align: center;
    margin: 10px;
}

.price {
    display: flex;
    justify-content: center;
}

.priceIcon {
    margin-right: 5px;
}

.description {
    min-width: inherit;
}

.description p {
    text-align: center;
}

